@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.flex {
  display: flex;
  align-items: center;
}
img,
input,
select,
button {
  cursor: pointer;
}
a {
  text-decoration: none !important;
  padding: 3px;
}

#Home {
  padding: 20px;
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*todo <!----------------------------------------------- < Chat app > -----------------------------------------------> */
#IndexHome {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../chatapp.avif);
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  background-position: center;
  background-color: rgb(238, 236, 236);
}
h1 {
  font-size: 40px;
}
#InsideIndex {
  background-color: white;
  padding: 40px 80px;
  text-align: center;
}
div {
  /* border: 1px solid black; */
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#message-box {
  width: 80%;
  height: 400px;
  overflow-y: scroll;
}

#message-box div {
  padding: 10px;
  font-size: 20px;
}
button,
a,
input[type="submit"] {
  margin: 10px;
  padding: 7px 18px;
  width: 90px;
  cursor: pointer;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background-color: rgb(14, 103, 237);
}

#message-box div:nth-child(2n) {
  background-color: rgb(244, 233, 120);
}
#message-box div:nth-child(2n-1) {
  background-color: rgb(80, 242, 191);
}
form {
  width: 30%;
}
input {
  padding: 20px 5px !important;
  height: 50px;
  width: 100%;
  font-size: 20px;
  margin: 2px;
}
input[type="submit"] {
  padding: 0px !important;
  width: 100%;
  margin: 4px 0px;
}
#send_box {
  margin: 4px;
  width: 20%;
}
#Chat-Box {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
